# .github/workflows/deploy.yml
name: Deploy PR previews
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize    
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write
    issues: write
jobs:
  deploy-preview:
    environment:
        name: github-pages
        url: ${{ steps.deployment-p.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
#      - run: npm i && npm run build
      - name: Deploy PR Preview
        id: deployment-p
        uses: rossjrw/pr-preview-action@v1.4.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          source-dir: .
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto